################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/backend/TaskManagement/.vs/TaskManagement
/src/backend/TaskManagement/TaskManagement.Api/obj
/src/backend/TaskManagement/TaskManagement.Domain/obj
/src/backend/TaskManagement/TaskManagement.Infrastructure/obj
/src/backend/TaskManagement/TaskManagement.Service/obj
/src/backend/TaskManagement/TaskManagement.Tests.Integration/obj
/src/backend/TaskManagement/TaskManagement.Tests.Unit/obj
